/*
INFO: 
	project: graphKalinin
	browsers: opera/chrome/FF/ie9/safari
	width: 300
	columns: ?
	markup: Sergey Kalinin 03/2016 (prozaik81-2@yandex.ru)
	use: jq, bootstrap
	desc: 	
	version 1
*/	

/****************************************************************************** COMMON_STYLES */
.hide{
	display: none !important;
}

.show{
	display: block !important;
}

/****************************************************************************** GLOBAL_layout */
.main-container{
	width: 100%;
}

	.navbar{

	}

	.content-container{

	}

/****************************************************************************** GLOBAL_blocks: navbar */
.add_dot_button{
	display: block !important;
}



/****************************************************************************** GLOBAL_blocks: canvas_graph */
.canvas_graph{
	background: cyan;
}

/****************************************************************************** GLOBAL_blocks: graphs */
.graphs{
	max-width: 400px;
	margin: 0 auto;
}

	.graphs .list-group-item{
		cursor: pointer;
		min-height: 40px;
	}

		.graphs .graph_title{
			color: #777;
		}

		.graphs .action{
			margin-left: 10px;
			cursor: pointer;
		}

		.graphs .glyphicon-remove{
			color: red;
		}

		.graphs .glyphicon-edit{
			color: orange;
		}			

		.graphs .edit_field{
			height: 20px;
			overflow: hidden;
			padding: 0 4px;
			width: 100%;
		}			

	.graphs .badge{
		display: none;
	}

	.graphs .btn-add{
		margin-top: 10px;
	}